<!DOCTYPE html>
<html ng-app="tallyApp">
<head>
<meta charset="utf-8">
<title>Tally System</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/directives.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</head>
<body>
	<header>
		<h1 class="text-center" style="margin-bottom: 60px; color: white">Welcome
			to Tally System</h1>
	</header>
	<div id="tallyCardsSection" class="container"
		ng-controller="CardController">
		<div class="row">
			<div class="col-md-3">
				<div class="card green text-center">
					<div class="fold fold-green"></div>
					<div class="no-padding col-md-12">
						<div class="name text-white col-md-3">
							Name:
						</div>
						<div class="col-md-9">
							<input ng-model="newName" type="text" placeholder="Enter a name for new card"></input>
						</div>
					</div>
					<a href="" class="plus glyphicon glyphicon-plus" ng-click="addCard()"></a>
				</div>
			</div>
			<div ng-repeat="tallyCard in tallyCards">
				<tally-card-model ng-model="tallyCard" />
			</div>
		</div>
	</div>
</body>




</html>